.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
    font-weight: 700 !important;
    
}
.nav-item .nav-link:hover{
    color: rgba(0,0,0,0.4) !important;
}
.square{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37%/41% 44% 56% 35%;
    animation: animate 6s linear infinite;
    transition: 0.5s;
    
}
.square:hover span:nth-child(1){
    background-color: rgba(0, 0, 255, 0.8);
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.square span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37%/41% 44% 56% 35%;
    animation: animate2 4s linear infinite;
    transition: 0.5s;
    
}
.square:hover span:nth-child(2){
    background-color: rgba(0, 255, 255, 0.8);
    opacity: 0.8;
}
@keyframes animate2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.square span:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37%/41% 44% 56% 35%;
    animation: animate3 10s linear infinite;
    transition: 0.5s;
    
}
.square:hover span:nth-child(3){
    background-color: rgba(255, 0,0 , 0.8);
    opacity: 0.5;
}
@keyframes animate3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.content{
    position: relative;
    padding: 40px 60px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    z-index: 1;
}
.content h2{
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}
.content a{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    padding: 6px 18px;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 73% 37% 44% 56% / 49% 44% 56% 51%;

}
.content a:hover{
    background: #fff;
    color: #333;
}
#flex_wrap{
    flex-wrap:wrap ;
}
footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
footer .social_media{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;

}
footer .social_media li a{
    display: inline-block;
    color: #fff;
    margin: 0 10px;
    transition: 0.5s;
    text-decoration: none;
    
}
footer .social_media li{
    list-style: none;
}
footer .social_media li a:hover{
    transform: translateY(-10px);
}
footer .services li a{
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin: 0 10px;
    transition: 0.5s;
    opacity: 0.7;
    text-decoration: none;
}
footer .services li a:hover{
    opacity: 1;
}
footer .services li{
    list-style: none;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    /* margin-bottom: 10px; */
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    /* background-color: red; */
    background-image: url(../imgs/wave03.png);
    background-size: cover;
    background-position: center;
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 999;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
footer .waves .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
    /* animation-delay: 1s; */
}

@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
footer .waves .wave#wave3{
    z-index: 999;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_03 3s linear infinite;
    /* animation-delay: 1s; */
}

@keyframes animateWave_03{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.5;
    bottom: 20px;
    animation: animateWave_04 4s linear infinite;
    animation-delay: 1s;
}

@keyframes animateWave_04{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}